{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Notes in Card</title>
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="add-note">Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="note-list"><b>Card</b></a>
        </li>
      </ul>
    </div>
  </nav>
  <body>
    <div class="container mt-5">
        {% for n in notes %}
        <div class="card mx-auto my-md-2"id="showcard" style="width: 18rem;">
            <div class="card-body shadow">
            <h5 class="card-title text-primary">From: {{ n.From }}</h5>
            <h6 class="card-title text-info">To: {{ n.to }}</h6>
            <hr class="solid" styles="border-top: 3px solid #000">
            <h6 class="card-title text-danger">Title: {{ n.title }}</h6>
            <p class="card-text">Message: <br>{{ n.message }}</p>
            </div>
        </div>              
        {% endfor %}
    </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
    