{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Notes in Table</title>
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link text-white" href="home"><b>Home</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="add-note">Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="note-list">Card</a>
        </li>
      </ul>
    </div>
  </nav>
  <body>
    <div class="container mt-5">
      <table class="table table-striped table-dark">
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Title</th>
            <th>Message</th>
          </tr>
        <!-- loop from Note model -->
        {% for n in notes %}
        <tr>
            <td>{{ n.From }}</td>
            <td>{{ n.to }}</td>
            <td>{{ n.title }}</td>
            <td>{{ n.message }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
    