<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Lab 5</title>
</head>
<body>
    <div class="container mt-5">
      <table class="table table-striped table-dark table-bordered" id="notesTable">
        <thead>
          <tr>
          <th>From</th>
              <th>To</th>
              <th>Title</th>
              <th>Message</th>
              <th>Actions</th>
           </tr>
        </thead>
        <tbody>
          <!-- <tr>
            <td>{{ n.From }}</td>
            <td>{{ n.to }}</td>
            <td>{{ n.title }}</td>
            <td>{{ n.message }}</td>
            <td class="text-center">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewModal">View</button>
              <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
              </td>
          </tr> -->
        </tbody>
      </table>

      <!-- View Modal -->
      <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalTitle" area-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="viewModalTitle">Note details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Note detail -->
                <!-- TODO: Implements note details for specific note -->
                <div class="card mx-auto my-md-2"id="showcard" style="width: 18rem;">
                    <div class="card-body shadow">
                    <h5 class="card-title text-primary">From: </h5>
                    <h6 class="card-title text-info">To: </h6>
                    <hr class="solid" styles="border-top: 3px solid #000">
                    <h6 class="card-title text-danger">Title: </h6>
                    <p class="card-text">Message: <br></p>
                    </div>
                </div>              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Modal -->
      <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalTitle" area-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalTitle">Edit note</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Note detail -->
                <!-- TODO: Implements note details for specific note -->
                <p>FORMS</p>            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Delete Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalTitle" area-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalTitle">Delete note</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Note detail -->
                <!-- TODO: Implements note details for specific note -->
                <p>DELETE</p>            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    
    <script>
      
      $(document).ready(function(){
        setInterval(function(){
          $.ajax({
            type:'GET',
            url:'/lab-5/getNotes',
            success: function(response){
              $("#notesTable > tbody").empty();

              for(var key in response.notes){
                var temp = 
                  "<tr><td>"+
                  response.notes[key].From  +"</td><td>" +
                  response.notes[key].to+ "</td><td>"+
                  response.notes[key].title+"</td><td>"+
                  response.notes[key].message+
                  '</td><td class="text-center"><button type="button" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#viewModal">View</button><button type="button" class="btn btn-warning mx-1" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button><button type="button" class="btn btn-danger mx-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button></td></tr>';
                $("#notesTable > tbody").append(temp)
              }
            },
            error: function(response){
              alert("Something went wrong :(")
            }
          })
        },1000)
      })

    </script>
  </body>
</html>